

.box {
  display: inline-block;
  border: 2px solid black;
  margin: 2px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  padding: 2px;
}

* {
  box-sizing: border-box;
}

.container {
  display: block;
  font-size: 0; 
  height: 300px;
  width: 500px;
  min-height: 50px;
  border: 5px darkorchid;
  padding: 2px;
  overflow: hidden;
}

.float-box {
  float: left;
}

.text {
  clear:left;
}

a:link {
  color: green; 
}

a:visited {
  color: yellow;
}

a:hover {
  color: white;
  background-color: blue;
}

input:focus {
  background-color: red;
  border-color: black;
}

input:checked {
  height: 30px;
  width: 30px;  
}
